body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif; 
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-scnd {
    color: #2e2f42;
}
.header-nav-item1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-item1:hover {
    color: #404bbf;
}
.header-nav-item1:focus {
    color: #404bbf;
}


.header-adrs {
    font-style: normal;
}

.header-adrs-list-item1 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-adrs-list-item1:hover {
    color: #404bbf;
}

.header-adrs-list-item1:focus {
    color: #404bbf;
}

.section1 {
    color: #2e2f42;
}

.section1-h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section1-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.section1-button:hover {
    color: #404BBF;
}

.section1-button:focus {
    color: #404BBF;
}

.section2-list1-item-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section2-list1-item-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}